.searchbar-container {
  position: relative;
  display: flex;
  align-items: stretch;
  border: 1px solid var(--neutral-300);
  font-size: 1.4rem;
  padding: 0 25px;
  margin: 1.5rem auto;
  border-radius: 1.8rem;
  width: 600px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

.searchbar,
.search {
  padding: 15px 0;
}

.searchbar {
  /* border-right: 2px solid var(--neutral-300); */
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 1.4rem;
  flex-grow: 1;
}

.searchbar ::placeholder {
  font-size: 1.4rem;
  color: var(--neutral-200);
}

.search {
  background: #fff;
  cursor: pointer;
  padding-left: 15px;
}

.search svg {
  color: var(--blue);
  font-size: 1.6rem;
}

.search svg:hover {
  color: var(--blue-hover);
}

@media (max-width: 650px) {
  .searchbar-container {
    width: calc(100vw - 40px);
  }

  .searchbar {
    font-size: 1rem;
    min-width: 0;
  }

  .search svg {
    font-size: 1.2rem;
  }
}
